<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %} 
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="{% url 'posts:list' %}">News</a>
    </nav>

    <header>
        <a href="">Feat 1</a> |
        <a href="">Feat 2</a> |
        <a href="">Feat 3</a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>

<script src="{% static 'js/main.js' %} %}"></script>
</html>